block append head
    link(rel='stylesheet' href='/stylesheets/ativacao.css')
    link(rel='stylesheet' href='/stylesheets/lib/select2.min.css')
    link(rel='stylesheet' href='/stylesheets/lib/select2-bootstrap.min.css')

block content
    include ../alerts
    header.row
        .col-md-4  
        .col-md-4
        .col-md-4
    .row
        .col-md-8.col-md-offset-2.col-sm-12
            h4.text-center Ativação
            form(name='ativacao' role='form' action='/ativacao' method='POST')
                .form-group
                    .form-inline
                        .form-group
                            label(for='campoTempo') Tempo  
                        .form-group
                            .form-group.col-lg-5
                            select#campoTempo.form-control(name='tempo')
                                for preco in configuracao.parametros.matriz_precos
                                    option(
                                    value=preco.permanencia_maxima_minutos
                                    selected=(ativacao.tempo == preco.permanencia_maxima_minutos))
                                        = preco.label
                    .form-inline
                        label(for='campoCelular') Celular
                        .form-group
                            .form-group.col-lg-5
                                input#campoCelular.form-control(type='text' placeholder='Celular' name='celular' value=ativacao.celular)

                .row
                    .form-group.col-lg-3
                        label(for='campoPlaca') Placa
                        input#campoPlaca.form-control(type='text' placeholder='Placa' name='placa' value=ativacao.placa)

                .row
                    .form-group.col-lg-6
                        label(for='marca') Marca
                        input#marca.form-control(type='text' placeholder='Marca' name='marca'
                            value=ativacao.marca readonly=true)
                    .form-group.col-lg-6
                        label(for='modelo') Modelo
                        input#modelo.form-control(type='text' placeholder='Modelo' name='modelo'
                            value=ativacao.modelo readonly=true)
                .row
                    .form-group.col-lg-6
                        label(for='cor') Cor
                        input#cor.form-control(type='text' placeholder='Cor' name='cor'
                            value=ativacao.cor readonly=true)
                    .form-group.col-lg-6
                        fieldset.form-inline.input-group
                            legend Tipo
                            label.radio-inline(for='radioButtonCarro')
                                input#radioButtonCarro(type='radio' name='tipo_veiculo' value='carro'
                                    checked=ativacao.tipo_veiculo==='carro' readonly=true)
                                | Carro

                            label.radio-inline(for='radioButtonMoto')
                                input#radioButtonMoto(type='radio' name='tipo_veiculo' value='moto'
                                    checked=ativacao.tipo_veiculo==='moto' readonly=true)
                                | Moto

                            label.radio-inline(for='radioButtonCamionete')
                                input#radioButtonCamionete(type='radio' name='tipo_veiculo' value='camionete'
                                    checked=ativacao.tipo_veiculo==='camionete' readonly=true)
                                | Camionete
                .row
                    .form-group.col-lg-12
                        label(for='campoCidade') Cidade da placa
                        select#campoCidade.form-control(name='cidade_id')
                            option
                            if ativacao && ativacao.cidade_id
                                option(value=ativacao.cidade_id selected=true)
                                    = ativacao.cidade.nome + '/' + ativacao.cidade.estado.uf

                .form-group
                    .form-inline
                        .form-group.pull-right
                            label * Campos Obrigátorios
                br
                br
                .form-group
                    .controls
                        button#button1id.btn.btn-small.btn-primary(type='Submit') Ativar
        footer.row
            .col-md-4  
            .col-md-4
            .col-md-4  

block append scripts
    script(src='/js/lib/jquery.inputmask.bundle.min.js')
    script(src='/js/lib/select2.full.min.js')
    script(src='/js/lib/js.cookie.js')
    script(src='/js/ativacao.js')
