extends ../layout

block content
    body()
        if message
            .alert.alert-danger
                button.close(type='button', data-dismiss='alert') x
                strong #{message}
        div#containerCorpo
            header.row
                .col-md-4
                .col-md-4
                .col-md-4
            .row
                .col-md-3
                .row.form
                    .col-md-6
                        h4.text-center Dados de Usuario Revendedor
                        br
                        form(name='form', role='form', action="/usuario/alterar/salvar", method="POST")
                            .form-group
                                .row
                                    .control-group
                                        .form-group.col-lg-6
                                            label * CPF:
                                            input#cpf_PessoaFisica.form-control(required='', type='text', name='cpf', value="#{value.cpf}")
                                        .form-group.col-lg-6
                                            label Celular:
                                            input#celular_PessoaFisica.form-control(type='text', name='telefone', value="#{value.telefone}")
                            .form-group
                                label.control-label(for='nomepf') * Nome:
                                input#nomepf.form-control(required='', type='text', name='nome_pf', value="#{value.nome}")
                            .form-group
                                label.control-label(for='emailpf') * E-mail:
                                .input-group
                                    span#basic-addon1.input-group-addon @
                                    input#emailpf.form-control(required='', type='text', , name='email_pf', placeholder="email@example.com", value="#{value.email}",aria-describedby='basic-addon2')
                            .form-group
                                label.control-label(for='usuariopf') * Nome de usuário:
                                input#usuariopf.form-control(required='', type='text', name='nome_usuario_pf',value="#{value.login}")
                                input#autorizacao.form-control(required='', type='text', name='autorizacao', value="#{value.autorizacao}")
                            .form-group
                                .row
                                    .control-group
                                        .form-group.col-lg-6
                                            label * Senha:
                                            input#senhapf.form-control(required='', type='password', name='senha_pf', value="#{value.senha}")
                                        .form-group.col-lg-6
                                            label * Confirmar senha:
                                            input#confirmar_senhapf.form-control(required='', type='password', name='confirmar_senha_pf', value="#{value.senha}")
                            .form-group
                                .row
                                    .form-inline
                                        .form-group.col-lg-3.pull-right
                                            label * Campos Obrigatórios
                            .form-group
                                .controls
                                    button#button1id.btn.btn-small.btn-primary(name='button1id') Alterar
                                    button#button2id.btn.btn-danger.pull-right(name='button2id') Cancelar
                .col-md-3
            footer.row
                .col-md-4
                .col-md-4
                .col-md-4

            block append scripts
                script(src='/js/usuario/alterar.js')
