extends ../layoutUsuarioRevenda

block content
    body
        if message
            .alert.alert-danger
                button.close(type='button', data-dismiss='alert') x
                strong #{message}
        div#containerCorpo
            .row
                .col-md-1
                .col-md-10
                    h4.text-center Usuários
                    .row
                        .pull-right
                            a.btn.btn-default(href="/usuario/cadastro", role="button") Cadastro novo usuário
                    .row
                        .table-responsive
                            table.table.table-bordered
                                thead
                                    tr
                                        th  CPF
                                        th  Nome
                                        th  Tipo
                                        th  Status
                                        th  &nbsp;
                                tbody
                                each usuario in lista
                                    tr
                                        td #{usuario.pessoaFisica.cpf}
                                        td #{usuario.pessoaFisica.pessoa.nome}
                                        td #{usuario.autorizacao}
                                        td
                                            input.status(type='checkbox', name='status', checked=(usuario.ativo), onchange="window.location.href='/usuario/deletar/#{usuario.id}'")
                                        td
                                            a(href='/usuario/alterar/' + usuario.id) Alterar
                .col-md-1
